
<div class="layout-container">
  <mat-sidenav-container  [hasBackdrop]="true">
    <mat-sidenav #drawer mode="over" [opened]="false">
  <!-- <mat-sidenav-container  [hasBackdrop]="deviceService.isMobile() ? true : false">
    <mat-sidenav #drawer [mode]="deviceService.isMob  ile() ? 'over' : 'side'" [opened]="!deviceService.isMobile()"> -->
      <mat-toolbar color="without-color">
        <mat-toolbar-row class="brand-sidebar">
          <img src="/assets/img/color_logo_dash.png" alt="" width="181" height="64" class="mt-2">
          <button *ngIf="drawer.opened" mat-icon-button (click)="drawer.toggle()" class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
  
      <div class="text-center pt-2 pb-2">
        <div class="p-3">
          <!-- <a [routerLink]="['/users/profile']">
            <img src="{{userData.foto}}" *ngIf="userData.foto" alt="foto" class="img-foto-sidebar">
            <img src="/assets/img/no-image-user.svg" *ngIf="!userData.foto" alt="foto" class="img-foto-sidebar">
          </a> -->

          <!-- <a > -->
          <div class="container-profile-picture">
            <!-- <img src="img_avatar.png" alt="Avatar" class="img-foto-sidebar" style="width:100%"> -->
            <img src="{{userData.foto}}" *ngIf="userData.foto" alt="foto" class="img-foto-sidebar">
            <img src="/assets/img/no-image-user.svg" *ngIf="!userData.foto" alt="foto" class="img-foto-sidebar">

            <div class="middle">
              <a [routerLink]="['/users/profile']" class="text">Editar</a>
            </div>
          </div>
          <!-- </a> -->

        </div>
        <span class="mt-2">
          <span *ngIf="!userData">
            Administrador
          </span>
          <span *ngIf="userData" class="text-capitalize">
            {{userData.nombre_completo}}
          </span>
        </span>
      </div>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/']" [routerLinkActive]="router.url=='/'?'active-menu':''">
          <mat-icon class="pull-right">home</mat-icon>
          &nbsp;
          Inicio
        </a>
        <a *ngIf="userData.type === 1" mat-list-item [routerLink]="['/users']" [routerLinkActive]="router.url=='/users'?'active-menu':''">
          <mat-icon class="pull-right">person</mat-icon>
          &nbsp;
          Administradores
        </a>
        <a *ngIf="userData.type === 1" mat-list-item [routerLink]="['/mecanicos']" [routerLinkActive]="router.url=='/mecanicos'?'active-menu':''">
          <mat-icon class="pull-right">work</mat-icon>
          &nbsp;
          Mecanicos
        </a>
        <!-- <a mat-list-item [routerLink]="['/accesorios']" [routerLinkActive]="router.url=='/accesorios'?'active-menu':''">
          <mat-icon class="pull-right">work</mat-icon>
          &nbsp;
          Accesorios
        </a> -->
        <!-- <a *ngIf="userData.type === 1" mat-list-item [routerLink]="['/repuestos']" [routerLinkActive]="router.url=='/repuestos'?'active-menu':''">
          <mat-icon class="pull-right">settings</mat-icon>
          &nbsp;
          Repuestos
        </a> -->
        <a mat-list-item [routerLink]="['/ordenes']" [routerLinkActive]="router.url=='/ordenes'?'active-menu':''">
          <mat-icon class="pull-right">insert_drive_file</mat-icon>
          &nbsp;
          ordenes
        </a>
        <a mat-list-item class="d-block d-sm-block d-md-none d-lg-none d-xl-none"  (click)="onLoggedout()">
          <mat-icon class="pull-right">exit_to_app</mat-icon>
          &nbsp;
          Cerrar sessión
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      

      <mat-toolbar class="fix-nav d-none d-sm-none d-md-block d-lg-block d-xl-block" role="heading" color="primary">
        <mat-toolbar-row>
          <button *ngIf="!drawer.opened" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
      
          <!-- title en desktop view -->
          <div class="nav-spacer text-left">
            <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
              <h2>{{title.getTitle()}}</h2>
            </div>
          </div>
      
          
      <!-- Notificaciones no implementadas aun -->
          <!-- <div class="nav-icon-right">
            <button mat-icon-button [matMenuTriggerFor]="notifications">
              <mat-icon>notifications</mat-icon>
            </button>
            <mat-menu #notifications [overlapTrigger]="false">
              <button mat-menu-item [routerLink]="['/users/profile']">
                <strong>Jose inturias</strong>
                Agrego una nueva orden de trabajo
              </button>
            </mat-menu>
          </div> -->
          
          <div class="nav-icon-right">
            <button mat-icon-button [matMenuTriggerFor]="profile">
              <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #profile [overlapTrigger]="false">
              <button mat-menu-item [routerLink]="['/users/profile']">
                <mat-icon>person</mat-icon>
                <span>Mi perfil</span>
              </button>
              <button mat-menu-item [routerLink]="['/users/change-password']">
                <mat-icon>lock</mat-icon>
                <span>Cambiar password</span>
              </button>
              <button mat-menu-item (click)="onLoggedout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar sessión</span>
              </button>
            </mat-menu>
          </div>
      
        </mat-toolbar-row>
      </mat-toolbar>

      <!-- heading in mobile -->
      <mat-toolbar class="d-block d-sm-block d-md-none d-lg-none d-xl-none toolbar-mobile" role="heading" color="primary">
        <mat-toolbar-row>

          <!-- <button *ngIf="!drawer.opened" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button> -->
          <div *ngIf="router.url == '/'">
            <button *ngIf="!drawer.opened" mat-icon-button (click)="drawer.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div *ngIf="router.url != '/'">
            <button mat-icon-button (click)="back()">
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
          </div>
      
          <div class="nav-spacer text-center" style="left: -15px; position: relative;">
            <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
              <h2>{{title.getTitle()}}</h2>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>

      <div class="content">
        <router-outlet class="row-mobile"></router-outlet>
      </div>

      
  
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<!-- <mat-toolbar class="fix-nav-bottom d-block d-sm-block d-md-none d-lg-none d-xl-none" role="heading">
  <mat-toolbar-row>
    <table class="full-width">
      <tbody>
        <tr>
          <td class="text-center">
            <a mat-icon-button href="#" [routerLink]="['/']" [color]="router.url=='/'?'accent':''">
              <mat-icon class="pull-right">home</mat-icon>
            </a>
          </td>
          <td class="text-center">
            <a mat-icon-button href="#" [routerLink]="['/ordenes']" [color]="router.url=='/ordenes'?'accent':''">
              <mat-icon class="pull-right">insert_drive_file</mat-icon>
            </a>
          </td>

          <td class="text-center" *ngIf="userData.type === 1">
            <a mat-icon-button href="#" [routerLink]="['/mecanicos']" [color]="router.url=='/mecanicos'?'accent':''">
              <mat-icon class="pull-right">work</mat-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-toolbar-row>
</mat-toolbar> -->