
<div class="row row-mobile">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-12">
        <div class="text-uppercase text-center d-block d-sm-block d-md-none d-lg-none d-xl-none">
            <h2>VALLE MOTOR'S</h2>
            <mat-divider></mat-divider>
        </div>
    </div>
</div>
<div class="row row-mobile">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mt-4">
        <mat-card>
            <mat-card-content [routerLink]="['/users']" class="text-center pt-5 pb-5 dash-card">
                <mat-icon color="primary">person</mat-icon> 
                <h1>Usuarios</h1>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mt-4">
        <mat-card>
            <mat-card-content [routerLink]="['/medicos']" class="text-center pt-5 pb-5 dash-card">
                <mat-icon color="primary">loupe</mat-icon> 
                <h1>Mecanicos</h1>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mt-4">
        <mat-card>
            <mat-card-content [routerLink]="['/ordenes']" class="text-center pt-5 pb-5 dash-card">
                <mat-icon color="primary">face</mat-icon> 
                <h1>ordenes</h1>
            </mat-card-content>
        </mat-card>
    </div>
</div>
