<div class="row row-mobile">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mx-auto">
        <mat-card class="card-mobile">
            <mat-card-header>
                <mat-card-title>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                        <img src="{{model.foto}}" alt="foto" *ngIf="model.foto" class="foto-image">
                        <img src="/assets/img/no-image.svg" alt="foto" *ngIf="!model.foto"
                            class="foto-model">
                        <mat-card-title class="text-capitalize text-center">
                            {{model.nombre_completo}}
                        </mat-card-title>
                        <mat-card-subtitle class="text-capitalize text-center"> 
                            {{model.especialidad}}
                        </mat-card-subtitle>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <mat-list>
                            <mat-list-item>
                                <div mat-line class="text-muted">
                                    <small>
                                        Telefono
                                    </small>
                                </div>
                                {{model.telefono}} 
                            </mat-list-item>
                            <mat-list-item>
                                <div mat-line class="text-muted">
                                    <small>
                                        Direccion
                                    </small>
                                </div>
                                {{model.direccion}}
                            </mat-list-item>
                            <mat-list-item>
                                <div mat-line class="text-muted">
                                    <small>
                                        Ci
                                    </small>
                                </div>
                                {{model.ci}}
                            </mat-list-item>
                            <mat-list-item>
                                <div mat-line class="text-muted">
                                    <small>
                                        Email
                                    </small>
                                </div>
                                {{model.email}}
                            </mat-list-item>
                            <mat-list-item>
                                <div mat-line class="text-muted">
                                    <small>
                                        Fecha de ingreso
                                    </small>
                                </div>
                                {{model.fecha_ingreso}}
                            </mat-list-item>
                            <mat-list-item>
                                <div mat-line class="text-muted">
                                    <small>
                                        Fecha de salida
                                    </small>
                                </div>
                                {{model.fecha_salida}}
                            </mat-list-item>
                        </mat-list>
                        <button mat-button (click)="elminar()" color="warn">
                            <mat-icon>delete</mat-icon>
                            Eliminar
                        </button>
                    </div>
                </div>

            </mat-card-content>
            <mat-card-actions class="text-right">
                <button mat-button [routerLink]="[ '/mecanicos']">
                    <mat-icon>clear</mat-icon>
                    Cerrar
                </button>
                <button mat-flat-button [routerLink]="[ '/mecanicos/edit']" [queryParams]="{id:model.id}">
                    <mat-icon>edit</mat-icon>
                    Modificar
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>