<div class="row row-mobile">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8 mx-auto ">
        <mat-card class="card-mobile">
            <!-- <mat-card-header>
                <mat-card-title>Nueva solicitud de trabajo</mat-card-title>
            </mat-card-header> -->

            <mat-horizontal-stepper [linear]="false" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Propietario</ng-template>
                        
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Propietario</mat-label>
                            <input type="text" matInput formControlName="propietario" placeholder="Propietario" autocomplete="off" required>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>telefono</mat-label>
                            <input type="number" min="0" step="1" matInput formControlName="telefono" placeholder="telefono" autocomplete="off" required>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>fecha</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="fecha" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        

                        <div class="text-right">
                            <button mat-button [routerLink]="['/ordenes']">
                                <mat-icon>clear</mat-icon>
                                Cerrar
                            </button>
                            <button mat-raised-button matStepperNext>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                                Continuar
                            </button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" label="vehiculo">
                    <form [formGroup]="secondFormGroup">
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>vehiculo</mat-label>
                            <input type="text" matInput formControlName="vehiculo" placeholder="vehiculo" autocomplete="off" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>placa</mat-label>
                            <input type="text" matInput formControlName="placa" placeholder="placa" autocomplete="off" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>modelo</mat-label>
                            <input type="text" matInput formControlName="modelo" placeholder="modelo" autocomplete="off">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>color</mat-label>
                            <input type="text" matInput formControlName="color" placeholder="color" autocomplete="off">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Año</mat-label>
                            <input type="text" matInput formControlName="ano" placeholder="ano" autocomplete="off">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Tanque</mat-label>
                            <mat-select name="tanque" formControlName="tanque">
                                <mat-option>--</mat-option>
                                <mat-option [value]="1/4">
                                    1/4
                                </mat-option>
                                <mat-option [value]="1/2">
                                    1/2
                                </mat-option>
                                <mat-option [value]="3/4">
                                    3/4
                                </mat-option>
                                <mat-option value="Full">
                                    Full
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <div class="text-right">
                            <button mat-button matStepperPrevious>
                                <mat-icon>keyboard_arrow_left</mat-icon>
                                Atras
                            </button>
                            <button mat-raised-button matStepperNext>
                                <mat-icon>keyboard_arrow_right</mat-icon>
                                Continuar
                            </button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <form [formGroup]="thirtyFormGroup" (ngSubmit)="onSubmit()">
                        <ng-template matStepLabel>Estado vehiculo</ng-template>

                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>solicitud</mat-label>
                            <textarea matInput formControlName="solicitud" placeholder="solicitud"></textarea>
                        </mat-form-field>
                        
                        
                        
                                
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <mat-checkbox id="tapa_ruedas" class="tapa_ruedas" color="primary" formControlName="tapa_ruedas">tapa ruedas</mat-checkbox>
                                <mat-checkbox id="llanta_auxilio" class="llanta_auxilio" color="primary" formControlName="llanta_auxilio">llanta_auxilio</mat-checkbox>
                                <mat-checkbox id="gata_hidraulica" class="gata_hidraulica" color="primary" formControlName="gata_hidraulica">gata_hidraulica</mat-checkbox>
                                <mat-checkbox id="llave_cruz" class="llave_cruz" color="primary" formControlName="llave_cruz">llave_cruz</mat-checkbox>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <mat-checkbox id="pisos" class="pisos" color="primary" formControlName="pisos">pisos</mat-checkbox>
                                <mat-checkbox id="limpia_parabrisas" class="limpia_parabrisas" color="primary" formControlName="limpia_parabrisas">limpia_parabrisas</mat-checkbox>
                                <mat-checkbox id="tapa_tanque" class="tapa_tanque" color="primary" formControlName="tapa_tanque">tapa_tanque</mat-checkbox>
                                <mat-checkbox id="herramientas" class="herramientas" color="primary" formControlName="herramientas">herramientas</mat-checkbox>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <mat-checkbox id="mangueras" class="mangueras" color="primary" formControlName="mangueras">mangueras</mat-checkbox>
                                <mat-checkbox id="espejos" class="espejos" color="primary" formControlName="espejos">espejos</mat-checkbox>
                                <mat-checkbox id="tapa_cubos" class="tapa_cubos" color="primary" formControlName="tapa_cubos">tapa_cubos</mat-checkbox>
                                <mat-checkbox id="antena" class="antena" color="primary" formControlName="antena">antena</mat-checkbox>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <mat-checkbox id="radio" class="radio" color="primary" formControlName="radio">radio</mat-checkbox>
                                <mat-checkbox id="focos" class="focos" color="primary" formControlName="focos">focos</mat-checkbox>
                                
                            </div>
                        </div>
                        



                        
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>otros</mat-label>
                            <textarea matInput formControlName="otros" placeholder="otros"></textarea>
                        </mat-form-field>
                        
                    
                        <div class="text-right">
                            <button mat-button matStepperPrevious>
                                <mat-icon>keyboard_arrow_left</mat-icon>
                                Atras
                            </button>
                            <button mat-flat-button type="submit" color="primary" #submitBtn class="ml-3" [disabled]="submitted">
                                <mat-icon>add</mat-icon>
                                Registrar
                            </button>
                        </div>
                    </form>
                </mat-step>
            </mat-horizontal-stepper>


            <!-- <form [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate="">
                <mat-card-content>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Nombre completo</mat-label>
                        <input type="text" matInput formControlName="propietario" placeholder="Nombre completo"
                            autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>telefono</mat-label>
                        <input type="number" min="0" step="1" matInput formControlName="telefono" placeholder="telefono"
                            autocomplete="off">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>direccion</mat-label>
                        <textarea matInput formControlName="direccion" placeholder="direccion"></textarea>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>ci</mat-label>
                        <input type="number" min="0" step="1" matInput formControlName="ci" placeholder="ci"
                            autocomplete="off" required>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>email</mat-label>
                        <input matInput formControlName="email" placeholder="email" autocomplete="off">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>especialidad</mat-label>
                        <input matInput formControlName="especialidad" placeholder="especialidad" autocomplete="off">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>fecha_ingreso</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha_ingreso">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>fecha_salida</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="fecha_salida">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <div class="form-inline mt-1">
                        <mat-label>Foto</mat-label>
                        <p>
                            <img src="{{model.foto}}" alt="foto" *ngIf="model.foto" class="foto-image-edit">
                        </p>
                        &nbsp;
                        <button type="button" mat-raised-button (click)="inputFoto.click()" title="Seleccionar imagen">
                            <mat-icon>attach_file</mat-icon>
                            Seleccionar
                        </button>
                        <input hidden type="file" accept="image/*" #inputFoto (change)="onFileChange($event)" />
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    <div class="text-right">
                        <button mat-button [routerLink]="['/models']">
                            <mat-icon>clear</mat-icon>
                            Cerrar
                        </button>
                        <button mat-flat-button type="submit" color="primary" #submitBtn class="ml-3"
                            [disabled]="submitted">
                            <mat-icon>add</mat-icon>
                            Registrar
                        </button>
                    </div>
                </mat-card-actions>
            </form> -->
        </mat-card>
    </div>
</div>